@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --primary-color: #3a4052;
    --dark-color: #141414;
    --border-color: #e50914;
    --border-green: #38B54A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #000;
    color: #999;
    line-height: 1.5;
    overflow-x: hidden;
}

h1 {
    font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
    margin-bottom: 15px;
    white-space: nowrap;
}

a {
    color: #e9e9e9;
    text-decoration: none;
}

ul {
    list-style: none;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 5;
    display: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

span {
    color: var(--border-color);
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .log {
    height: 40px;
    object-fit: cover;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav ul li:last-child {
    margin-left: auto;
    margin-right: 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid var(--border-color);
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

.main-nav ul.right-menu .number {
    display: inline-block;
    background: red;
    padding: .1rem 0.3rem;
    color: #fff;
    font-size: 75%;
    line-height: 1;
    border-radius: 0.25rem;
}

/* Showcase */
#showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(97vh - 60px);
    position: relative;
    /* padding: 0 20px; */
}

#showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}

#showcase .video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-content video {
    min-height:100%;
    min-width:100%;
    object-fit: contain;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.content {
    z-index: 3;
}

.btn {
    display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover {
    background: #9a9eaa;
    color: #000;
    transform: scale(0.98);
}

/* Tab Content */
.tab-content {
    padding: 3rem 0;
    background: #000;
    color: #fff;
  }
  
#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#tab-1-conetnt p {
    text-align: justify;
}

.new-e {
    min-width: 450px;
    min-height: 300px;
}

.new-e img {
    width: 100%;
    object-fit: contain;
}

.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.table tbody tr td {
    color: #999;
    padding: 0.8rem 1rem;
    text-align: center;
}

.table tbody tr td:first-child {
    text-align: left;
}
  
.table tbody tr:nth-child(odd) {
    background: #222;
}

footer {
    max-width: 85%;
    margin: 1rem auto;
    overflow: auto;
}

footer a {
  color: #999;
  font-size: 0.9rem;
}
  
footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

footer li {
    line-height: 1.9;
}

footer li i  {
    margin-right: 5px;
}

.email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
  }
  
  /* // .form-control-wrap {
    // 	position: relative;
    // 	display: inline-block;
    // 	width: 100%;
    // } */
  
  .email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
  }
  
  .email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
  }
  

/* Media */
@media (max-width: 960px) {
    .showcase {
      height: 70vh;
    }

    .tab-1-content-inner h1 {
        font-size: 2.8rem;
    }

    .tab-1-content-inner h3 {
        font-size: 1rem;
    }

    .tab-1-content-inner p {
        font-size: 0.8rem;
        margin-bottom: 5rem;
    }

    .tab-1-content-inner img {
        padding: 0 1rem;
    }

    footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
      }
    .text-lg {
        font-size: 1.5rem;
    }
}

@media(max-width: 700px) {
    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .main-nav ul.right-menu {
        margin-right: 50px;
    }

    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        /* opacity: 0.9; */
        width: 50%;
        height: 100%;
        transform: translateX(-450px);
        border-right: #ccc 1px solid;
        padding: 30px;
        z-index: 6;
        transition: transform 0.5s ease-in-out;
    }

    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: #555 solid 1px;
        font-size: 14px;
    }
    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
        margin: 0;
    }

    .main-nav ul.main-menu li a {
        color: #000;
    }

    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }

    .main-nav ul.right-menu {
        margin-right: 10px;
    }

    #showcase {
        height: 60vh;
    }

    .tab-1-content-inner p {
        font-size: 1rem;
        padding: 0 3rem;
        margin-bottom: 0;
    }
    .new-e {
        padding: 0 2rem;
    }

    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
        margin-bottom: 0rem;
    }
}